.entry-title {
  display: none;
}

.page-header {
  display: none;
}

#masthead {
  display: flex;
  align-items: center;
  padding: 1.5em 2em 1.5em 2em;
  position: fixed;
	width: 100%;
	z-index: 1000;
  transition: background-color 0.4s ease-out;

  .main-navigation {
    display: flex;
    justify-content: flex-end;

    .menu-main-menu-container {
      width: 25em;

      ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

// padding added to content section so it does not hide behind sticky header
.site-content {
  padding-top: 93.469px;
}

.landing-page-section {
  width: 100%;
  height: calc(100vh - 92.672px);

  .landing-page-contents {
    display: flex;
    height: 100%;

    .work-slider-container, .intro-description {
      width: 50%;
    }

    .intro-description {
      background-color: #fff;
    }
  }

.landing-page-contents {
  background-image: url("../../../../uploads/2018/11/space.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}


  .work-slider-container {
    align-self: center;

    // margin on slider - class provided by plugin
    .white {
      margin-left: 2.8em;
    }
  }

  .work-slider-container p {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
  }
}

.owl-carousel {
  width: 15em;

  p {
    margin-left: 1.5em;
  }
}

#slider_66 .owl-item {
  p:nth-child(2) {
    margin-top: 1em;
  }
}

.owl-dots {
  margin-bottom: 2em;
}

.intro-description {
    display: grid;
    grid-template-columns: [first] 20% [line2] 20% [line3] 20% [line4] 20% [line5] 20% [end];
    grid-template-rows: [first] 33.33% [line2] 33.33% [line3] 33.33% [line4];
}

.intro-description-text {
  width: 20em;
  font-size: 1.2em;
  grid-column-start: line3;
  grid-row-start: first;
  grid-row-end: line3;

  display: flex;
  align-items: center;
  position: relative;
  top: 2em;

  p {
    margin: 0;
  }
}

// .intro-description-logo {
//   grid-column-start: line3;
//   grid-column-end: line4;
//   grid-row-start: first;
//   grid-row-end: line2;
//   display: flex;
//   align-items: flex-end;
//   margin-bottom: 2em;
//
//   position: relative;
//   bottom: 4em;
// }

.logo-portion {
  grid-column-start: first;
  grid-column-end: end;
  grid-row-start: first;
  grid-row-end: line4;

  img {
    width: 730px;
    height: 630px;
  }
}

.three-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 2em;
  padding-bottom: 2em;
  height: calc(100vh - 93.469px);

  .three-c-description {
    width: 35em;
    height: auto;

    h3 {
      // width: 11em;
      font-size: 2em;
    }
  }
}

// .consulting-container {
//   background-color: thistle;
// }

.our-work-container {
  // background-color: #003B4A;
  height: calc(100vh - 93.469px);

  h2 {
    padding-top: 2em;
    padding-bottom: 2em;
    color: #fff;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-size: 3em;
  }
}

.our-work-logo-section {
  background-color: white;
  width: 100%;
  height: auto;

  // center logos (p) within slider
  #slider_73 p {
    // margin:0px auto !important;
    text-align: center;
  }
}

.our-work-gallery {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: [line1] 50% [line2] 25% [line3] 25% [line4];
  grid-template-rows: [line1] 50% [line2] 50% [line3];
  // display: flex;
  // flex-wrap: wrap;

  .our-work-view-more {
    grid-row-start: line2;
    grid-row-end: line3;
    grid-column-start: line3;
    grid-column-end: line4;
    background-color: #003B4A;
  }

  .our-work-example2 {
    grid-row-start: line1;
    grid-row-end: line2;
    grid-column-start: line2;
    grid-column-end: line3;
    background-image: url("../../../../uploads/2018/11/jesse-collins-629527-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.outer {
  grid-row-start: line1;
  grid-row-end: line3;
  grid-column-start: line1;
  grid-column-end: line2;
  overflow: hidden;
}


.our-work-example1 {
  background-image: url("../../../../uploads/2018/11/josh-calabrese-112481-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: transform .5s;
  overflow: hidden;
  height: 100%;

  display: flex;
  justify-content: center;
  padding-top: 4em;

  p {
    font-family: Lora;
    font-size: 1.3em;
  }
}

.our-work-example1:hover {
     transform: scale(1.09);
}

// .our-work-example1:hover {
//     -ms-transform: scale(1); /* IE 9 */
//     -webkit-transform: scale(1.5); /* Safari 3-8 */
//     transform: scale(1.2);
// }

.our-work-example3 {
  grid-row-start: line1;
  grid-row-end: line2;
  grid-column-start: line3;
  grid-column-end: line4;
  background-color: #fff;

  display: flex;
  text-align: center;
  align-self: center;

  p {
    font-family: Lora;
    font-size: 1.3em;
  }
}

.our-work-example4 {
  grid-row-start: line2;
  grid-row-end: line3;
  grid-column-start: line2;
  grid-column-end: line3;
  background-color: #fff;

  display: flex;
  text-align: center;
  align-self: center;

  p {
    font-family: Lora;
    font-size: 1.3em;
  }
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  height: calc(100vh - 92.672px);
  // calc(100vh - 9em);

  .contact-container-contents {
    width: 100%;
    height: 100%;
  }
}

.contact-title {
  text-align: center;

  h2 {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
  }

  p {
    font-family: "Lora", serif;

    a{
      text-decoration: none;
      color: #003B4A;
      font-weight: bold;
    }
  }
}

.form-container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  font-family: "Lora", serif;
  height: 500px;
  padding-right: 8em;
  padding-left: 8em;

  textarea:nth-child(1) {
    height: 7em;
    resize: none;
  }

  textarea:nth-child(2) {
    height: 5em;
  }

  .wpcf7-list-item {
    margin-left: 0;
  }
}

.wpcf7-response-output {
  margin: 0 !important;
}

.wpcf7-not-valid-tip {
  font-size: 0.7em !important;
}

.basic-contact-info .wpcf7-not-valid-tip  {
  padding-top: 0.5em !important;
}

footer {
  background-color: #414042;
  color: #fff;
  height: auto;
  padding: 2em 10em 2em 10em;

  .footer-container {
    display: flex;
    justify-content: center;;
    height: 100%;
    // padding-left: 10em;
    // padding-top: 2em;

    ul {
      list-style: none;
      margin-left: 0;
      margin-right: 2.5em;

      p {
        margin-bottom: 1em;
        margin-top: 1em;
      }

      a {
        text-decoration: none;
        color: #fff;
      }
    }

    div:nth-child(2) ul {
      width: 9em;
    }

    div:nth-child(4) ul {
      width: 11em;
    }

    div:nth-child(5) ul {
      width: 8em;
    }
  }

  .copywrite {
    display: flex;
    justify-content: center;
  }
}
